.bpw-floating-button {
    background-color: #8d1537;
}

.bp-widget-widget {
    bottom: -10px;    
    right: 3rem;
}

.bpw-header-container {
    background-color: #8d1537;
}

.bpw-button {
    border-color: #8d1537;
    color: #8d1537;
}

.bpw-chat-bubble-content {
    background-color: #8d1537;
}

.bpw-powered {
    display: none;
}

.bpw-header-subtitle {
    display: none;
}

.bpw-chat-container {
    bottom: 3rem;    
    max-height: 80vh;
}
